In [51]:
import pandas as pd

# SEABORN IS A PLOTTING LIBRARY
import seaborn as sns

# MATPLOT LIB IS ALSO A PLOTTING LIBRARY
import matplotlib.pyplot as plt

# SKLEARN IS OUR MACHINE LEARNING PACKAGE
from sklearn.linear_model import LinearRegression

# IMPORT OUR RANDOM FOREST REGERSSOR
from sklearn.ensemble import RandomForestRegressor

# METRICS HELP US SCORE OUR MODEL
from sklearn import metrics

# HELP US SPLIT OUR DATA INTO TESTING A TRAINING
from sklearn.model_selection import train_test_split

# HELPER FUNCTION WITH Z-SCORES TO REMOVE OUTLIERS
import scipy.stats as stats

In [52]:
df = pd.read_csv('/Users/hamzakhalil13/Desktop/Data2/2019_1.csv')
df

,ITIN_ID,YEAR,QUARTER,ORIGIN_STATE_NM,DEST_STATE_NM,TICKET_CARRIER,PASSENGERS,MARKET_FARE,NONSTOP_MILES
0,201912,2019,1,Pennsylvania,Georgia,DL,1.0,36.00,692.0
1,201913,2019,1,Pennsylvania,Georgia,DL,1.0,143.00,692.0
2,201914,2019,1,Pennsylvania,Georgia,DL,1.0,203.00,692.0
3,201915,2019,1,Pennsylvania,Georgia,DL,1.0,211.00,692.0
4,201916,2019,1,Pennsylvania,Georgia,DL,1.0,241.00,692.0
...,...,...,...,...,...,...,...,...,...
2097147,201911841009,2019,1,Florida,North Carolina,DL,1.0,232.37,680.0
2097148,201911841009,2019,1,North Carolina,Florida,DL,1.0,168.63,680.0
2097149,201911841010,2019,1,Florida,North Carolina,DL,1.0,236.42,680.0
2097150,201911841010,2019,1,North Carolina,Florida,DL,1.0,171.58,680.0
2097151,201911841011,2019,1,Florida,North Carolina,DL,1.0,242.22,680.0

In [53]:
df.shape

(2097152, 9)

In [54]:
df.isnull().sum().sum()

0

In [55]:
df.duplicated().sum()

15640

In [56]:
df = df.drop_duplicates()
df.shape

(2081512, 9)

In [57]:
# # selected_features = ['NONSTOP_MILES']
# selected_features = list(df.columns)
# selected_features.remove('ITIN_ID')
# selected_features.remove('YEAR')
# selected_features

In [58]:
condition_1 = df['MARKET_FARE'] < 100

df = df[condition_1]
df

,ITIN_ID,YEAR,QUARTER,ORIGIN_STATE_NM,DEST_STATE_NM,TICKET_CARRIER,PASSENGERS,MARKET_FARE,NONSTOP_MILES
0,201912,2019,1,Pennsylvania,Georgia,DL,1.0,36.00,692.0
17,2019119,2019,1,Pennsylvania,Georgia,DL,1.0,14.00,692.0
18,2019119,2019,1,Georgia,Pennsylvania,DL,1.0,14.00,692.0
180,20191105,2019,1,Pennsylvania,Alabama,DL,1.0,5.50,792.0
181,20191105,2019,1,Alabama,Pennsylvania,DL,1.0,5.50,792.0
...,...,...,...,...,...,...,...,...,...
2097132,201911841001,2019,1,North Carolina,Florida,DL,1.0,65.18,680.0
2097134,201911841002,2019,1,North Carolina,Florida,DL,1.0,83.27,680.0
2097136,201911841003,2019,1,North Carolina,Florida,DL,1.0,84.53,680.0
2097138,201911841004,2019,1,North Carolina,Florida,DL,1.0,93.78,680.0
2097140,201911841005,2019,1,North Carolina,Florida,DL,1.0,97.14,680.0

In [60]:
mean_price = df['MARKET_FARE'].mean()
mean_price

41.11602320753487

In [61]:
df = df.drop(columns= ['ORIGIN_STATE_NM', 'DEST_STATE_NM'  ], axis=1)

df

,ITIN_ID,YEAR,QUARTER,TICKET_CARRIER,PASSENGERS,MARKET_FARE,NONSTOP_MILES
0,201912,2019,1,DL,1.0,36.00,692.0
17,2019119,2019,1,DL,1.0,14.00,692.0
18,2019119,2019,1,DL,1.0,14.00,692.0
180,20191105,2019,1,DL,1.0,5.50,792.0
181,20191105,2019,1,DL,1.0,5.50,792.0
...,...,...,...,...,...,...,...
2097132,201911841001,2019,1,DL,1.0,65.18,680.0
2097134,201911841002,2019,1,DL,1.0,83.27,680.0
2097136,201911841003,2019,1,DL,1.0,84.53,680.0
2097138,201911841004,2019,1,DL,1.0,93.78,680.0
2097140,201911841005,2019,1,DL,1.0,97.14,680.0

In [62]:
df = pd.get_dummies(df, columns=['TICKET_CARRIER'], drop_first=True)
df

,ITIN_ID,YEAR,QUARTER,PASSENGERS,MARKET_FARE,NONSTOP_MILES,TICKET_CARRIER_3M,TICKET_CARRIER_7H,TICKET_CARRIER_99,TICKET_CARRIER_9K,...,TICKET_CARRIER_AS,TICKET_CARRIER_B6,TICKET_CARRIER_BA,TICKET_CARRIER_BB,TICKET_CARRIER_DL,TICKET_CARRIER_EK,TICKET_CARRIER_HA,TICKET_CARRIER_QF,TICKET_CARRIER_UA,TICKET_CARRIER_VS
0,201912,2019,1,1.0,36.00,692.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,2019119,2019,1,1.0,14.00,692.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18,2019119,2019,1,1.0,14.00,692.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
180,20191105,2019,1,1.0,5.50,792.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
181,20191105,2019,1,1.0,5.50,792.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2097132,201911841001,2019,1,1.0,65.18,680.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2097134,201911841002,2019,1,1.0,83.27,680.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2097136,201911841003,2019,1,1.0,84.53,680.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2097138,201911841004,2019,1,1.0,93.78,680.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2097140,201911841005,2019,1,1.0,97.14,680.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [66]:
selected_features = list(df.columns)
selected_features.remove('MARKET_FARE')
selected_features

['ITIN_ID',
 'YEAR',
 'QUARTER',
 'PASSENGERS',
 'NONSTOP_MILES',
 'TICKET_CARRIER_3M',
 'TICKET_CARRIER_7H',
 'TICKET_CARRIER_99',
 'TICKET_CARRIER_9K',
 'TICKET_CARRIER_AA',
 'TICKET_CARRIER_AS',
 'TICKET_CARRIER_B6',
 'TICKET_CARRIER_BA',
 'TICKET_CARRIER_BB',
 'TICKET_CARRIER_DL',
 'TICKET_CARRIER_EK',
 'TICKET_CARRIER_HA',
 'TICKET_CARRIER_QF',
 'TICKET_CARRIER_UA',
 'TICKET_CARRIER_VS']

In [67]:
X = df[selected_features]

y = df['MARKET_FARE']

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [69]:
model_2 = RandomForestRegressor(random_state=1)

model_2.fit(X_train, y_train)

y_pred = model_2.predict(X_test)

In [70]:
r_squared = metrics.r2_score(y_test, y_pred)
print('R-Squared Score:', r_squared)

R-Squared Score: 0.3621645631829514

In [73]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score, roc_auc_score 
accuracy = model_2.score(X_test, y_test)
print("Model Accuracy: %f" % accuracy)

Model Accuracy: 0.362165

In [74]:
model_3 = RandomForestRegressor(n_estimators=500, max_depth=10, random_state=1)
model_3.fit(X_train, y_train)

y_pred = model_3.predict(X_test)

In [75]:
r_squared = metrics.r2_score(y_test, y_pred)
print('R-Squared Score:', r_squared)

R-Squared Score: 0.2793065548144993